{% extends 'layout.html' %}
{% from 'bootstrap4/form.html' import render_form, render_form_row, render_field %}

{% block title %}服务器数据同步{% endblock title %}

{% block css %}
{% endblock css %}

{% block pageheader %}子模块同步{% endblock pageheader %}

{% block level %}
<li class="breadcrumb-item"><a href="/">主界面</a></li>
<li class="breadcrumb-item active">服务器数据同步</li>
<li class="breadcrumb-item active">子模块同步</li>
{% endblock level %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">服务器./{{ module }}/{{ server_module_id }}到本地./{{ module }}/{{ local_module_id }}</h3>
          </div>
          <div class="card-body">
            <table class="table table-sm table-hover">
              <thead>
              <tr>
                <th>文件</th>
                <th>状态</th>
              </tr>
              </thead>
              <tbody id="table_sync">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block script %}
<script type="text/javascript">

  const local_uuid_url = "{{ url_for('sync.uuid') }}";
  const server_uuid_url = "{{ url_for('sync.get_server_uuid') }}";
  const download_status_url = "{{ url_for('sync.download_status', module=module, server_module_id=server_module_id, local_module_id=local_module_id) }}";
  const resource_url = "{{ url_for('sync.get_server_resource', module=module, module_id=server_module_id) }}";

  const request0 = $.get(local_uuid_url);
  const request1 = $.get(server_uuid_url);
  const request2 = $.get(download_status_url);
  const request3 = $.get(resource_url);

  // 使用Promise.all()处理请求
  Promise.all([request0, request1, request2, request3])
    .then(function (results) {
      // 获取请求的结果
      const local_uuid = results[0];
      const server_uuid = results[1];
      const download_status = results[2];
      const resource = results[3];

      // 处理请求的结果
      update_table(local_uuid, server_uuid, download_status, resource)
    })
    .catch(function (error) {
      // 处理错误
      console.log("发生错误:", error);
    });

  function update_table(local_uuid, server_uuid, download_status, resource) {
    $("#table_sync").empty();
    const tbody = document.getElementById('table_sync');
    for (let sub_module_id in resource['data']) {
      for (let urlStr in resource['data'][sub_module_id]) {
        let filename = resource['data'][sub_module_id][urlStr][0];

        const tr = document.createElement('tr');
        tbody.appendChild(tr);

        let td = document.createElement('td');
        td.innerHTML = sub_module_id + '/' + filename;
        tr.appendChild(td);

        td = document.createElement('td');
        if (download_status[urlStr] === 'existed' || download_status[urlStr] === 'downloaded') {
          td.innerHTML = "<i class='fas fa-check-circle' style='color: limegreen;'></i>";
        } else {
          td.innerHTML = "<i class='fas fa-spinner fa-spin' style='color: limegreen;'></i>";
        }
        tr.appendChild(td);
      }
    }
  }

  // https://blog.csdn.net/weixin_43235307/article/details/121795990
  $(document).on('click', '.checkAll', function () {
    $('.checkOne').prop('checked', $(this).prop('checked'));
  });

  $(document).on('click', '.checkOne', function () {
    var flag = $('.checkOne:checked').length == $('.checkOne').length;
    $('.checkAll').prop('checked', flag);
  });

  document.getElementById("virtual").className = "nav-item menu-open"
  document.getElementById("manage_virtuals").className = "nav-link active"

</script>
{% endblock script %}
