{% extends 'layout.html' %}
{% from 'bootstrap4/form.html' import render_form, render_form_row, render_field %}

{% block title %}{{ virtual_id }}号虚拟实验{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
{% endblock css %}

{% block pageheader %}虚拟实验信息{% endblock pageheader %}

{% block level %}
<li class="breadcrumb-item"><a href="/">主界面</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('virtual.manage_virtuals') }}">虚拟实验管理</a></li>
<li class="breadcrumb-item active">虚拟实验信息</li>
{% endblock level %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary" data-card-id="card-1">
              <div class="card-header">
                <h3 class="card-title">{{ virtual_id }}号虚拟实验</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h5 class="text-primary">轴向应力云图</h5>
                    <img src="{{ url_for('virtual.get_virtual_file', virtual_id=virtual_id, filename='S11.gif') }}" width="100%">
                  </div>
                  <div class="col-6">
                    <h5 class="text-primary">力位移曲线</h5>
                    <img src="{{ url_for('virtual.get_virtual_file', virtual_id=virtual_id, filename='disp-force.png') }}" width="80%">
                  </div>
                  <div class="col-12">
                    <h5 class="text-primary">求解控制</h5>
                    当前状态：{{ solver_status }}
                    <p class="mb-1">您可以通过点击下面的按钮开始、暂停或终止ABAQUS的计算，并通过<a href="javascript:location.reload();">刷新</a>页面获取算例状态。</p>

                    {% if solver_status=='Submitting' or solver_status=='Running' or solver_status=='Pause' or solver_status=='Stopping' %}
                    <button class="btn btn-secondary" disabled="disabled"><strong>计 算</strong></button>
                    {% else %}
                    <a href="{{ url_for('virtual.run_virtual', virtual_id=virtual_id) }}" class="btn btn-success"><strong>计 算</strong></a>
                    {% endif %}

                    {% if solver_status=='Running' %}
                    <a href="#" class="btn btn-warning"><strong>暂 停</strong></a>
                    {% else %}
                    <button class="btn btn-secondary" disabled="disabled"><strong>暂 停</strong></button>
                    {% endif %}

                    {% if solver_status=='Pause' %}
                    <a href="#" class="btn btn-info"><strong>继 续</strong></a>
                    {% else %}
                    <button class="btn btn-secondary" disabled="disabled"><strong>继 续</strong></button>
                    {% endif %}

                    {% if solver_status=='Running' %}
                    <a href="{{ url_for('virtual.terminate_virtual', virtual_id=virtual_id) }}" class="btn btn-danger"><strong>终 止</strong></a>
                    {% else %}
                    <button class="btn btn-secondary" disabled="disabled"><strong>终 止</strong></button>
                    {% endif %}
                    {{ button }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card card-primary" data-card-id="card-2">
              <div class="card-header">
                <h3 class="card-title">参数文件</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <form action="" method="post" class="form" role="form">
                      {{ form.csrf_token() }}
                      {{ render_field(form.para, style="height: 450px;") }}
                      {{ render_field(form.submit, button_style='btn btn-primary') }}
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card card-primary" data-card-id="card-3">
              <div class="card-header">
                <h3 class="card-title">文件列表</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h5 class="text-primary">虚拟实验信息</h5>
                    <ul class="list-unstyled">
                      <li> 虚拟实验名称：{{ status['name'] }} </li>
                      <li> 虚拟实验编号：{{ virtual_id }} </li>
                      <li> 虚拟实验模板：{{ status['template'] }} </li>
                      <li> 创建时间：{{ status['virtual_time'] }} </li>
                      <li> 使用CPU核心数量：{{ status['cpus'] }} </li>
                      <li> 虚拟实验备注：</li>
                      <textarea id="descript" class="form-control" rows="4">{{ status['descript'] }}</textarea>
                      <a class='btn btn-primary' href="{{ url_for('virtual.edit_virtual', virtual_id=virtual_id) }}"><strong>编辑信息</strong></a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card card-primary" data-card-id="card-4">
              <div class="card-header">
                <h3 class="card-title">文件列表</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <table class="table table-sm table-hover">
                      <thead>
                        <tr>
                          <th width=40%>文件名</th>
                          <th width=30%>修改日期</th>
                          <th width=10%>大小</th>
                          <th width=20%>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for file in files %}
                        <tr>
                          <td> {{ file['name'] }} </td>
                          <td> {{ file['time'] }} </td>
                          <td> {{ file['size'] }} </td>
                          <td> <a href="{{ url_for('virtual.get_virtual_file', virtual_id=virtual_id, filename=file['name']) }}" target="_blank">下载</a> </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}

{% block script %}
<script src="{{ url_for('static', filename='AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>

<script type="text/javascript">

  $(document).ready(function () {
    $('#descript').attr('disabled', true)
  });

  document.getElementById('virtual').className = 'nav-item menu-open'

</script>
{% endblock script %}
