{% extends 'layout.html' %}
{% from 'bootstrap4/form.html' import render_form, render_form_row, render_field %}

{% block title %}{{ optimize_id }}号优化{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror-5.65.16/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror-5.65.16/theme/monokai.css') }}">

<style>
  .CodeMirror {
    height: 800px;
  }
</style>

{% endblock css %}

{% block pageheader %}优化信息{% endblock pageheader %}

{% block level %}
<li class="breadcrumb-item"><a href="/">主界面</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('optimize.manage_optimizes') }}">优化管理</a></li>
<li class="breadcrumb-item active">优化信息</li>
{% endblock level %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{ optimize_id }}号优化信息</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <h5 class="text-primary">优化信息</h5>
                <ul class="list-unstyled">
                  <li> 优化名称：{{ status['name'] }} </li>
                  <li> 优化编号：{{ optimize_id }} </li>
                  <li> 优化类型：{{ status['type'] }} </li>
                  <li> 参数列表：{{ status['para'] }} </li>
                  <li> 创建时间：{{ status['json_time'] }} </li>
                  <li> 优化备注：</li>
                  <textarea id="descript" class="form-control" rows="4">{{ status['descript'] }}</textarea>
                  <p></p>
                  <a class='btn btn-primary' href="{{ url_for('optimize.edit_optimize', optimize_id=optimize_id) }}"><strong>编辑信息</strong></a>
                  {% if config.CLIENT %}
                  <a href="{{ url_for('optimize.open_optimize', optimize_id=optimize_id) }}" class="btn btn-primary"><strong>在资源管理器中打开</strong></a>
                  {% endif %}
                </ul>

                <hr>
                <h5 class="text-primary">参数设置</h5>
                <form method="POST" id="form_paras" name="form_paras">
                  {{ parameter_form.csrf_token }}
                  <table id="data" class="table table-bordered table-sm">
                    <thead>
                    <tr>
                      <th width="60px">变量</th>
                      <th>名称</th>
                      <th>值</th>
                    </tr>
                    </thead>
                    <tbody id="table_paras_body">
                    </tbody>
                  </table>
                  {{ render_field(parameter_form.submit) }}
                </form>

                <hr>
                <h5 class="text-primary">实验文件</h5>
                <form method="POST" id="form_exps" name="form_exps">
                  {{ experiment_form.csrf_token }}
                  {{ render_form_row([experiment_form.experiment_id]) }}
                  <table id="exp" class="table table-bordered table-sm">
                    <thead id="table_exps_head">
                    </thead>
                    <tbody id="table_exps_body">
                    </tbody>
                  </table>
                  {{ render_field(experiment_form.submit) }}
                </form>

                <hr>
                <h5 class="text-primary">上传文件</h5>
                <form action="" method="post" class="form" enctype="multipart/form-data" role="form">
                  {{ upload_form.csrf_token }}
                  <div class="form-group">
                  {{ upload_form.submit }}{{ upload_form.filename }}
                  </div>
                </form>

                <h5 class="text-primary">优化文件</h5>
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th width=40%>文件名</th>
                      <th width=30%>修改日期</th>
                      <th width=10%>大小</th>
                      <th width=20%>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for file in files %}
                    <tr>
                      <td> {{ file['name'] }} </td>
                      <td> {{ file['time'] }} </td>
                      <td> {{ file['size'] }} </td>
                      <td> <a href="{{ url_for('optimize.get_optimize_file', optimize_id=optimize_id, filename=file['name']) }}" target="_blank">下载</a> | <a onclick="return confirm('确定删除文件？')" href="{{ url_for('optimize.delete_optimize_file', optimize_id=optimize_id, filename=file['name']) }}">删除</a> </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
          </div>
            </div>
          </div>
<!--          <div class="col-4">-->
<!--            <div class="card card-primary">-->
<!--              <div class="card-header">-->
<!--                <h3 class="card-title">{{ optimize_id }}号优化参数设置与实验选取</h3>-->
<!--                <div class="card-tools">-->
<!--                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">-->
<!--                    <i class="fas fa-minus"></i>-->
<!--                  </button>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="card-body">-->
<!--                <h5 class="text-primary">参数设置</h5>-->
<!--                <form method="POST" id="form_paras" name="form_paras">-->
<!--                  {{ parameter_form.csrf_token }}-->
<!--                  <table id="data" class="table table-bordered table-sm">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                      <th width="60px">变量</th>-->
<!--                      <th>名称</th>-->
<!--                      <th>值</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody id="table_paras_body">-->
<!--                    </tbody>-->
<!--                  </table>-->
<!--                  {{ render_field(parameter_form.submit) }}-->
<!--                </form>-->
<!--                <hr>-->
<!--                <h5 class="text-primary">实验文件</h5>-->
<!--                <form method="POST" id="form_exps" name="form_exps">-->
<!--                  {{ experiment_form.csrf_token }}-->
<!--                  {{ render_form_row([experiment_form.experiment_id]) }}-->
<!--                  <table id="exp" class="table table-bordered table-sm">-->
<!--                    <thead id="table_exps_head">-->
<!--                    </thead>-->
<!--                    <tbody id="table_exps_body">-->
<!--                    </tbody>-->
<!--                  </table>-->
<!--                  {{ render_field(experiment_form.submit) }}-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="col-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{ optimize_id }}号优化过程</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="col-6" style="border: 1px solid black">
                  <h6 class="text">实验-模拟曲线</h6>
                  <img id="fig" src="{{ url_for('optimize.get_optimize_file', optimize_id=optimize_id, filename='fig.png') }}" style="width: 100%; height: auto;" alt="描述文字">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}

{% block script %}

<script type="text/javascript">

  $(document).ready(function () {
    $('#descript').attr('disabled', true)
  });

  const experimentSelect = document.getElementById('experiment_id');

  function updateParas(para_name, para_status) {
    const tableBody = document.getElementById('table_paras_body');
    tableBody.innerHTML = "";

    para_name.forEach((row, index) => {
      const tr = document.createElement('tr');
      tr.style.verticalAlign = 'middle';
      tr.style.textAlign = 'left';

      const td1 = document.createElement('td');
      const checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.id = 'check_' + row;
      checkbox.name = 'check_' + row;

      // 添加复选框变化事件监听器
      checkbox.addEventListener('change', function () {
        const valueInput = document.getElementById('value_' + row);
        if (valueInput) {
          valueInput.readOnly = !this.checked;
        }
      });

      if (para_status && checkbox && checkbox.id) {
        if (checkbox.id in para_status) {
          checkbox.checked = true;
        } else {
          checkbox.checked = false;
        }
      }
      td1.appendChild(checkbox);
      tr.appendChild(td1);

      const td2 = document.createElement('td');
      td2.textContent = row;
      tr.appendChild(td2);

      const td3 = document.createElement('td');
      const valueInput = document.createElement('input');
      valueInput.id = 'value_' + row;
      valueInput.name = 'value_' + row;
      valueInput.className = 'form-control form-control-sm';
      if (para_status && valueInput && valueInput.id) {
        if (valueInput.id in para_status) {
          valueInput.value = para_status[valueInput.id];
        } else {
          valueInput.value = 0.0;
        }
      }
      valueInput.readOnly = !checkbox.checked;
      td3.appendChild(valueInput);
      tr.appendChild(td3);

      tableBody.appendChild(tr);
    });
  }

  function updateExps(exp_status, exp_json) {
    const excludedKeys = ['descript', 'operation', 'path', 'specimen_id', 'experiment_id', 'specimen_time', 'name'];

    const tableHead = document.getElementById('table_exps_head');
    tableHead.innerHTML = "";
    const tr = document.createElement('tr');
    const th1 = document.createElement('th');
    th1.textContent = '选择';
    th1.style.width = '60px';
    tr.appendChild(th1);

    const th2 = document.createElement('th');
    th2.textContent = 'ID';
    tr.appendChild(th2);

    Object.keys(exp_status[0]).forEach(key => {
      if (!excludedKeys.includes(key)) {
        const th = document.createElement('th');
        th.textContent = key;
        tr.appendChild(th);
        tableHead.appendChild(tr);
      }
    });

    const tableBody = document.getElementById('table_exps_body');
    tableBody.innerHTML = "";

    exp_status.forEach((row, index) => {
      const tr = document.createElement('tr');
      tr.style.verticalAlign = 'middle';
      tr.style.textAlign = 'left';

      const td1 = document.createElement('td');
      const checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.id = 'check_' + row['specimen_id'];
      checkbox.name = 'check_' + row['specimen_id'];

      if (exp_json && checkbox && checkbox.id) {
        if (checkbox.id in exp_json) {
          checkbox.checked = true;
        } else {
          checkbox.checked = false;
        }
      }

      td1.appendChild(checkbox);
      tr.appendChild(td1);

      const td2 = document.createElement('td');
      td2.textContent = row['specimen_id'];
      tr.appendChild(td2);

      Object.keys(row).forEach(key => {
        if (!excludedKeys.includes(key)) {
          const td = document.createElement('td');
          td.textContent = row[key];
          tr.appendChild(td);
        }
      });

      tableBody.appendChild(tr);
    });
  }

  function updateStatus() {
    const url1 = "{{ url_for('optimize.optimize_status', optimize_id=optimize_id) }}";
    const url2 = "{{ url_for('optimize.parameters_status', optimize_id=optimize_id) }}";
    fetch(url1)
      .then(response => response.json())
      .then(data1 => {
        return fetch(url2)
          .then(response => response.json())
          .then(data2 => {
            // 处理两个请求的数据
            updateParas(data1["para"], data2);
          });
      })
      .catch(error => {
        console.error('Error:', error);
      });

    const baseExperimentUrl = "{{ url_for('experiment.experiment_specimens_status', experiment_id=0) }}";
    const experimentId = experimentSelect.value.split('_')[0];
    const url3 = baseExperimentUrl.slice(0, -1) + experimentId;
    const url4 = "{{ url_for('optimize.experiments_status', optimize_id=optimize_id) }}";
    fetch(url3)
      .then(response => response.json())
      .then(data3 => {
        return fetch(url4)
          .then(response => response.json())
          .then(data4 => {
            // 处理两个请求的数据
            updateExps(data3["data"], data4);
          });
      })
      .catch(error => {
        console.error('Error:', error);
      });

    const img = document.getElementById('fig');
    const src = img.src.split('?')[0]; // 移除可能存在的查询参数
    img.src = src + '?t=' + new Date().getTime(); // 添加时间戳防止缓存
  }

  updateStatus()

  setInterval(updateStatus, 4000);

  experimentSelect.addEventListener('change', function () {
    const experimentId = this.value.split('_')[0];
    const baseExperimentUrl = "{{ url_for('experiment.experiment_specimens_status', experiment_id=0) }}";
    const url3 = baseExperimentUrl.slice(0, -1) + experimentId;
    const url4 = "{{ url_for('optimize.experiments_status', optimize_id=optimize_id) }}";
    fetch(url3)
      .then(response => response.json())
      .then(data3 => {
        return fetch(url4)
          .then(response => response.json())
          .then(data4 => {
            // 处理两个请求的数据
            updateExps(data3["data"], data4);
          });
      })
      .catch(error => {
        console.error('Error:', error);
      });
  });

  $(document).ready(function () {
    $('#submit_queue_all').on('click', function () {
      console.log('submit_queue_all')
    });
  });

  document.getElementById('optimize').className = 'nav-item menu-open'
</script>
{% endblock script %}
