{% extends 'layout.html' %}
{% from 'bootstrap4/form.html' import render_form, render_form_row, render_field %}

{% block title %}{{ optimize_id }}号优化{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror-5.65.16/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror-5.65.16/theme/monokai.css') }}">

<style>
  .CodeMirror {
    height: 800px;
  }
</style>

{% endblock css %}

{% block pageheader %}优化信息{% endblock pageheader %}

{% block level %}
<li class="breadcrumb-item"><a href="/">主界面</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('optimize.manage_optimizes') }}">优化管理</a></li>
<li class="breadcrumb-item active">优化信息</li>
{% endblock level %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{ optimize_id }}号优化信息</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <h5 class="text-primary">优化信息</h5>
                <ul class="list-unstyled">
                  <li> 优化名称：{{ status['name'] }} </li>
                  <li> 优化编号：{{ optimize_id }} </li>
                  <li> 优化类型：{{ status['type'] }} </li>
                  <li> 参数列表：{{ status['para'] }} </li>
                  <li> 优化算例：{{ status['job'] }} </li>
                  <li> 创建时间：{{ status['json_time'] }} </li>
                  <li> 优化备注：</li>
                  <textarea id="descript" class="form-control" rows="4">{{ status['descript'] }}</textarea>
                  <p></p>
                  <a class='btn btn-primary' href="{{ url_for('optimize.edit_optimize', optimize_id=optimize_id) }}"><strong>编辑信息</strong></a>
                  {% if config.CLIENT %}
                  <a href="{{ url_for('optimize.open_optimize', optimize_id=optimize_id) }}" class="btn btn-primary"><strong>在资源管理器中打开</strong></a>
                  {% endif %}
                </ul>

                <h5 class="text-primary">优化控制</h5>
                <span id="text_solver_status">--</span>（最后更新: <span id="lastUpdated">--</span>）
                <div class="log" id="log"></div>
                <p class="mb-1">您可以通过点击下面的按钮开始、暂停或终止优化过程，并通过<a href="javascript:location.reload();">刷新</a>页面获取算例状态。
                </p>
                <button id="calculateBtn" class="btn btn-secondary" disabled><strong>计 算</strong></button>
                <a id="calculateLink" href="{{ url_for('optimize.run_optimize', optimize_id=optimize_id) }}" class="btn btn-success"><strong>计 算</strong></a>
                <button id="terminateBtn" class="btn btn-secondary" disabled><strong>终 止</strong></button>
                <a id="terminateLink" href="{{ url_for('optimize.terminate_optimize', optimize_id=optimize_id) }}" class="btn btn-danger"><strong>终 止</strong></a>
                <button id="resetBtn" class="btn btn-secondary" disabled><strong>重 置</strong></button>
                <a id="resetLink" href="{{ url_for('optimize.reset_optimize', optimize_id=optimize_id) }}" class="btn btn-info"><strong>重 置</strong></a>

                <hr>
                <h5 class="text-primary">参数设置</h5>
                <form method="POST" id="form_paras" name="form_paras">
                  {{ parameter_form.csrf_token }}
                  <table id="data" class="table table-bordered table-sm">
                    <thead>
                    <tr>
                      <th width="60px">变量</th>
                      <th>名称</th>
                      <th>值</th>
                    </tr>
                    </thead>
                    <tbody id="table_paras_body">
                    </tbody>
                  </table>
                  {{ render_field(parameter_form.submit) }}
                </form>

                <hr>
                <h5 class="text-primary">实验文件</h5>
                <form method="POST" id="form_exps" name="form_exps">
                  {{ experiment_form.csrf_token }}
                  {{ render_form_row([experiment_form.experiment_id]) }}
                  <table id="exp" class="table table-bordered table-sm">
                    <thead id="table_exps_head">
                    </thead>
                    <tbody id="table_exps_body">
                    </tbody>
                  </table>
                  {{ render_field(experiment_form.submit) }}
                </form>

                <hr>
              <h5 class="text-primary">实验数据预处理</h5>
                <form method="POST" id="form_preproc" name="form_preproc">
                  {{ preproc_form.csrf_token }}
                  {{ render_form_row([preproc_form.strain_shift, preproc_form.target_rows]) }}
                  {{ render_form_row([preproc_form.mode]) }}
                  {{ render_form_row([preproc_form.strain_start, preproc_form.strain_end]) }}
                  {{ render_form_row([preproc_form.stress_start, preproc_form.stress_end]) }}
                  {{ render_form_row([preproc_form.threshold, preproc_form.fracture_slope_criteria]) }}
                  {{ render_field(preproc_form.submit) }}
                </form>

                <hr>
                <h5 class="text-primary">上传文件</h5>
                <form action="" method="post" class="form" enctype="multipart/form-data" role="form">
                  {{ upload_form.csrf_token }}
                  <div class="form-group">
                  {{ upload_form.submit }}{{ upload_form.filename }}
                  </div>
                </form>

                <h5 class="text-primary">优化文件</h5>
                <table class="table table-sm table-hover">
                  <thead>
                  <tr>
                    <th width=40%>文件名</th>
                    <th width=30%>修改日期</th>
                    <th width=10%>大小</th>
                    <th width=20%>操作</th>
                  </tr>
                  </thead>
                  <tbody id="table_files_body">
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{ optimize_id }}号优化过程</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <h5 class="text-primary">优化状态</h5>


                <hr>
                <div class="col-12">
                  <h5 class="text-primary">实验-模拟曲线</h5>
                  <div class="col-12" style="border: 1px solid black">
                    <img id="fig" src="{{ url_for('optimize.get_optimize_file', optimize_id=optimize_id, filename='fig.png') }}" style="width: 100%; height: auto;" alt="描述文字">
                  </div>
                </div>
                <hr>
                <div class="col-12">
                  <!-- Custom Tabs -->
                  <div class="card">
                    <div class="card-header d-flex p-0">
                      <h3 class="card-title p-3">日志</h3>
                      <ul class="nav nav-pills ml-auto p-2">
                        <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">求解日志 {{ status['job'] }}.log</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">命令行日志 run.log</a></li>
                      </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                      <div class="tab-content">
                        <!-- /.tab-pane -->
                        <div class="tab-pane active" id="tab_1">
                          <textarea id="textarea_log" class="form-control" style="height: 800.0px;"></textarea>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                          <textarea id="textarea_run_log" class="form-control" style="height: 800.0px;"></textarea>
                        </div>
                        <!-- /.tab-pane -->
                      </div>
                      <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                  </div>
                  <!-- ./card -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}

{% block script %}

<script type="text/javascript">

  $(document).ready(function () {
    $('#descript').attr('disabled', true)
  });

  const experimentSelect = document.getElementById('experiment_id');
  const lastUpdated = document.getElementById('lastUpdated');
  const controlBtn = document.getElementById('controlBtn');
  const log = document.getElementById('log');

  // 状态和定时器变量
  let updateInterval = null;
  let isUpdate = true;

  function updateTextSolverStatus(solverStatus) {
    const textSolverStatus = document.getElementById('text_solver_status');
    textSolverStatus.innerText = '当前状态：' + solverStatus;
  }

  function updateRunLog(run_logs) {
    const textarea = document.getElementById('textarea_run_log');
    textarea.value = run_logs;
    textarea.scrollTop = textarea.scrollHeight; // 滚动到最底部
  }

  function updateLog(logs) {
    const textarea = document.getElementById('textarea_log');
    textarea.value = logs;
    textarea.scrollTop = textarea.scrollHeight; // 滚动到最底部
  }

  function updateFiles(files) {
    const tableBody = document.getElementById('table_files_body');
    tableBody.innerHTML = "";
    files.forEach(row => {
      const tr = document.createElement('tr');
      tr.style.verticalAlign = 'middle';
      tr.style.textAlign = 'left';

      const td1 = document.createElement('td');
      td1.textContent = row['name'];
      tr.appendChild(td1);

      const td2 = document.createElement('td');
      td2.textContent = row['time'];
      tr.appendChild(td2);

      const td3 = document.createElement('td');
      td3.textContent = row['size'];
      tr.appendChild(td3);

      const td4 = document.createElement('td');
      const html1 = "<a href=\"{{ url_for('optimize.get_optimize_file', optimize_id=optimize_id, filename='0000') }}\" target=\"_blank\">下载</a>"
      const html2 = "<a href=\"{{ url_for('tools.code')}}?url={{ url_for('optimize.get_optimize_file', optimize_id=optimize_id, filename='0000', _external=True) }}\" target=\"_blank\">编辑</a>"
      const html3 = "<a onclick=\"return confirm('确定删除文件？')\" href=\"{{ url_for('optimize.delete_optimize_file', optimize_id=optimize_id, filename='0000') }}\">删除</a>"
      td4.innerHTML = html1.replace('0000', row['name']) + " | " + html2.replace('0000', row['name']) + " | " + html3.replace('0000', row['name']);
      if ({{ config.HOST_PORT }} !== 0){
        td4.innerHTML = td4.innerHTML.replace('http://sunjingyu.com', 'https://sunjingyu.com:{{ config.HOST_PORT }}').replace('http://www.sunjingyu.com', 'https://www.sunjingyu.com:{{ config.HOST_PORT }}')
      }
      tr.appendChild(td4);

      tableBody.appendChild(tr);
    });
  }

  function updateParas(para_name, para_status) {
    const tableBody = document.getElementById('table_paras_body');
    tableBody.innerHTML = "";

    para_name.forEach((row, index) => {
      const tr = document.createElement('tr');
      tr.style.verticalAlign = 'middle';
      tr.style.textAlign = 'left';

      const td1 = document.createElement('td');
      const checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.id = 'check_' + row;
      checkbox.name = 'check_' + row;

      // 添加复选框变化事件监听器
      checkbox.addEventListener('change', function () {
        const valueInput = document.getElementById('value_' + row);
        if (valueInput) {
          valueInput.readOnly = !this.checked;
        }
      });

      if (para_status && checkbox && checkbox.id) {
        if (checkbox.id in para_status) {
          checkbox.checked = true;
        } else {
          checkbox.checked = false;
        }
      }
      td1.appendChild(checkbox);
      tr.appendChild(td1);

      const td2 = document.createElement('td');
      td2.textContent = row;
      tr.appendChild(td2);

      const td3 = document.createElement('td');
      const valueInput = document.createElement('input');
      valueInput.id = 'value_' + row;
      valueInput.name = 'value_' + row;
      valueInput.className = 'form-control form-control-sm';
      if (para_status && valueInput && valueInput.id) {
        if (valueInput.id in para_status) {
          valueInput.value = para_status[valueInput.id];
        } else {
          valueInput.value = 0.0;
        }
      }
      valueInput.readOnly = !checkbox.checked;
      td3.appendChild(valueInput);
      tr.appendChild(td3);

      tableBody.appendChild(tr);
    });
  }

  function updateExps(exp_status, exp_json) {
    const excludedKeys = ['descript', 'operation', 'path', 'specimen_id', 'experiment_id', 'specimen_time', 'name'];

    const tableHead = document.getElementById('table_exps_head');
    tableHead.innerHTML = "";
    const tr = document.createElement('tr');
    const th1 = document.createElement('th');
    th1.textContent = '选择';
    th1.style.width = '60px';
    tr.appendChild(th1);

    const th2 = document.createElement('th');
    th2.textContent = 'ID';
    tr.appendChild(th2);

    Object.keys(exp_status[0]).forEach(key => {
      if (!excludedKeys.includes(key)) {
        const th = document.createElement('th');
        th.textContent = key;
        tr.appendChild(th);
        tableHead.appendChild(tr);
      }
    });

    const tableBody = document.getElementById('table_exps_body');
    tableBody.innerHTML = "";

    exp_status.forEach((row, index) => {
      const tr = document.createElement('tr');
      tr.style.verticalAlign = 'middle';
      tr.style.textAlign = 'left';

      const td1 = document.createElement('td');
      const checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.id = 'check_' + row['specimen_id'];
      checkbox.name = 'check_' + row['specimen_id'];

      if (exp_json && checkbox && checkbox.id) {
        if (checkbox.id in exp_json) {
          checkbox.checked = true;
        } else {
          checkbox.checked = false;
        }
      }

      td1.appendChild(checkbox);
      tr.appendChild(td1);

      const td2 = document.createElement('td');
      td2.textContent = row['specimen_id'];
      tr.appendChild(td2);

      Object.keys(row).forEach(key => {
        if (!excludedKeys.includes(key)) {
          const td = document.createElement('td');
          td.textContent = row[key];
          tr.appendChild(td);
        }
      });

      tableBody.appendChild(tr);
    });
  }

  function updateStatus() {
    if (isUpdate === true) {
      const url1 = "{{ url_for('optimize.optimize_status', optimize_id=optimize_id) }}";
      const baseExperimentUrl = "{{ url_for('experiment.experiment_specimens_status', experiment_id=0) }}";
      const experimentId = experimentSelect.value.split('_')[0];
      const url2 = baseExperimentUrl.slice(0, -1) + experimentId;

      fetch(url1)
        .then(response => response.json())
        .then(data1 => {
          if (data1["solver_status"] === 'Setting' || data1["solver_status"] === 'Stopped' || data1["solver_status"] === 'Completed') {
            isUpdate = false;
          }
          return fetch(url2)
            .then(response => response.json())
            .then(data2 => {
              updateParas(data1["optimize_status"]["para"], data1["parameters"]);
              updateExps(data2["data"], data1["experiments"]);
              updateFiles(data1["files"]);
              updateButtons(data1["solver_status"]);
              updateTextSolverStatus(data1["solver_status"]);
              updateLog(data1['logs']);
              updateRunLog(data1['run_logs']);
            });
        })
        .catch(error => {
          console.error('Error:', error);
        });

      const img = document.getElementById('fig');
      const src = img.src.split('?')[0]; // 移除可能存在的查询参数
      img.src = src + '?t=' + new Date().getTime(); // 添加时间戳防止缓存

      const now = new Date();
      const timeString = now.toLocaleTimeString();
      lastUpdated.textContent = timeString;
    }
  }

  function updateButtons(solverStatus) {
    const calculateBtn = document.getElementById('calculateBtn');
    const calculateLink = document.getElementById('calculateLink');
    const terminateBtn = document.getElementById('terminateBtn');
    const terminateLink = document.getElementById('terminateLink');
    const resetBtn = document.getElementById('resetBtn');
    const resetLink = document.getElementById('resetLink');

    if (solverStatus === 'Submitting' || solverStatus === 'Running' || solverStatus === 'Pause' || solverStatus === 'Stopping') {
      calculateBtn.style.display = 'inline-block';
      calculateLink.style.display = 'none';
    } else {
      calculateBtn.style.display = 'none';
      calculateLink.style.display = 'inline-block';
    }

    if (solverStatus === 'Running') {
      terminateBtn.style.display = 'none';
      terminateLink.style.display = 'inline-block';
    } else {
      terminateBtn.style.display = 'inline-block';
      terminateLink.style.display = 'none';
    }

    if (solverStatus === 'Completed' || solverStatus === 'Stopped' || solverStatus === 'Setting') {
      resetBtn.style.display = 'none';
      resetLink.style.display = 'inline-block';
    } else {
      resetBtn.style.display = 'inline-block';
      resetLink.style.display = 'none';
    }
  }

  experimentSelect.addEventListener('change', function () {
    const url1 = "{{ url_for('optimize.optimize_status', optimize_id=optimize_id) }}";
    const baseExperimentUrl = "{{ url_for('experiment.experiment_specimens_status', experiment_id=0) }}";
    const experimentId = experimentSelect.value.split('_')[0];
    const url2 = baseExperimentUrl.slice(0, -1) + experimentId;
    fetch(url1)
      .then(response => response.json())
      .then(data1 => {
        return fetch(url2)
          .then(response => response.json())
          .then(data2 => {
            updateExps(data2["data"], data1["experiments"]);
          });
      })
      .catch(error => {
        console.error('Error:', error);
      });
  });

  // 添加日志
  function addLog(message) {
    const now = new Date();
    const timeString = now.toLocaleTimeString();

    const logEntry = document.createElement('div');
    logEntry.className = 'log-entry';
    logEntry.innerHTML = `[${timeString}] ${message}`;

    // 将新日志添加到顶部
    log.prepend(logEntry);

    // 如果超过2条日志，删除最旧的一条（底部的）
    if (log.children.length > 2) {
      log.removeChild(log.lastChild);
    }
  }

  // addLog('系统初始化完成');

  updateStatus()
  setInterval(updateStatus, 2000);

  document.getElementById('optimize').className = 'nav-item menu-open'
</script>
{% endblock script %}
