{% extends 'layout.html' %}
{% from 'bootstrap4/form.html' import render_form, render_form_row, render_field %}

{% block title %}{{ flow_id }}号流程{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
{% endblock css %}

{% block pageheader %}流程信息{% endblock pageheader %}

{% block level %}
<li class="breadcrumb-item"><a href="/">主界面</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('flow.manage_flows') }}">流程管理</a></li>
<li class="breadcrumb-item active">流程信息</li>
{% endblock level %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="column">
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">{{ flow_id }}号流程信息</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <h5 class="text-primary">流程信息</h5>
                        <ul class="list-unstyled">
                          <li> 流程名称：{{ status['name'] }}</li>
                          <li> 流程编号：{{ flow_id }}</li>
                          <li> 创建时间：{{ status['flow_time'] }}</li>
                          <li> 流程备注：</li>
                          <textarea id="descript" class="form-control" rows="4">{{ status['descript'] }}</textarea>
                        </ul>
                        <h5 class="text-primary">运行控制</h5>
                        <p class="mb-1" id="text_solver_status">{{ solver_status }}</p>
                        <p class="mb-1">您可以通过点击下面的按钮开始ABAQUS前处理的运行。
                        </p>

                        <button id="calculateBtn" class="btn btn-secondary" disabled><strong>开始前处理</strong></button>
                        <a id="calculateLink" href="{{ url_for('flow.run_preproc', flow_id=flow_id) }}" class="btn btn-success"><strong>开始前处理</strong></a>

                        <button id="resetBtn" class="btn btn-secondary" disabled><strong>重 置</strong></button>
                        <a id="resetLink" href="#" class="btn btn-info"><strong>重 置</strong></a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <form action="" method="post" class="form" role="form">
              {{ form.csrf_token() }}
                <div class="col-12">
                  <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">铣刀零件参数</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          {{ render_form_row([form.r1, form.r2]) }}
                          {{ render_form_row([form.n, form.length]) }}
                          {{ render_form_row([form.pitch, form.tool_seed_size]) }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">平板零件参数</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          {{ render_form_row([form.x_length_of_plane, form.y_length_of_plane]) }}
                          {{ render_form_row([form.z_length_of_plane, form.plane_seed_size]) }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">铣刀边界条件</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          {{ render_form_row([form.tool_rotation_speed, form.tool_shift_speed]) }}
                          {{ render_form_row([form.x_shift_of_tool, form.y_shift_of_tool, form.z_shift_of_tool]) }}
                          {{ render_form_row([form.square_wave_width, form.square_wave_height, form.square_wave_cycles]) }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">材料设置</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          {{ render_form_row([form.material_plane, form.material_tool, form.material_interaction]) }}
                          <div class="row">
                            <div class="col">
                              <a id="editMaterialPlaneBtn" class="btn btn-info">编辑平板材料</a>
                            </div>
                            <div class="col">
                              <a id="editMaterialToolBtn" class="btn btn-info">编辑铣刀材料</a>
                            </div>
                            <div class="col">
                              <a id="editMaterialInteractionBtn" class="btn btn-info">编辑接触属性</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">求解控制</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          {{ render_form_row([form.step_time, form.timeIncrementationMethod, form.userDefinedInc]) }}
                          {{ render_field(form.submit, button_style='btn btn-info') }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-6">
            <div class="column">
              <div class="col-12">
                <div class="card">
                  <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3">前处理状态</h3>
                    <ul class="nav nav-pills ml-auto p-2">
                      <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">前处理日志 abaqus.rpy</a></li>
                      <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">命令行日志 run.log</a></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab_1">
                        <textarea id="textarea_log" class="form-control" style="height: 733.0px;"></textarea>
                      </div>
                      <div class="tab-pane" id="tab_2">
                        <textarea id="textarea_run_log" class="form-control" style="height: 733.0px;"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">模型示意图</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6">
                        <h5 class="text">Iso视图</h5><hr/>
                        <img src="{{ url_for('flow.get_flow_file', flow_id=flow_id, filename='assembly_iso.png') }}" style="width: 100%; height: auto;" onerror="this.style.display='none'" alt="描述文字">
                      </div>
                      <div class="col-6">
                        <h5 class="text">Bottom视图</h5><hr/>
                         <img src="{{ url_for('flow.get_flow_file', flow_id=flow_id, filename='assembly_bottom.png') }}" style="width: 100%; height: auto;" onerror="this.style.display='none'" alt="描述文字">
                      </div>
                      <div class="col-6">
                        <h5 class="text">Front视图</h5><hr/>
                        <img src="{{ url_for('flow.get_flow_file', flow_id=flow_id, filename='assembly_front.png') }}" style="width: 100%; height: auto;" onerror="this.style.display='none'" alt="描述文字">
                      </div>
                      <div class="col-6">
                        <h5 class="text">刀具路径</h5><hr/>
                        <img src="{{ url_for('flow.get_flow_file', flow_id=flow_id, filename='assembly_front_with_path.png') }}" style="width: 100%; height: auto;" onerror="this.style.display='none'" alt="描述文字">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card card-primary collapsed-card">
                  <div class="card-header">
                    <h3 class="card-title">文件列表</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <h5 class="text-primary">上传文件</h5>
                        <form action="" method="post" class="form" enctype="multipart/form-data" role="form">
                          {{ upload_form.csrf_token }}
                          <div class="form-group">
                            {{ upload_form.submit }}{{ upload_form.filename }}
                          </div>
                        </form>
                      </div>

                      <div class="col-12">
                        <table class="table table-sm table-hover">
                          <thead>
                          <tr>
                            <th width=40%>文件名</th>
                            <th width=30%>修改日期</th>
                            <th width=10%>大小</th>
                            <th width=20%>操作</th>
                          </tr>
                          </thead>
                          <tbody id="table_files_body">
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}

{% block script %}
<script type="text/javascript">

  $(document).ready(function () {
    $('#descript').attr('disabled', true)
  });
  
  document.getElementById('flow').className = 'nav-item menu-open'

  let isUpdate = true

  function updateFiles(files) {
    const tableBody = document.getElementById('table_files_body');
    tableBody.innerHTML = "";
    files.forEach(row => {
      const tr = document.createElement('tr');
      tr.style.verticalAlign = 'middle';
      tr.style.textAlign = 'left';

      const td1 = document.createElement('td');
      td1.textContent = row['name'];
      tr.appendChild(td1);

      const td2 = document.createElement('td');
      td2.textContent = row['time'];
      tr.appendChild(td2);

      const td3 = document.createElement('td');
      td3.textContent = row['size'];
      tr.appendChild(td3);

      const td4 = document.createElement('td');
      const html1 = "<a href=\"{{ url_for('flow.get_flow_file', flow_id=flow_id, filename='0000') }}\" target=\"_blank\">下载</a>"
      const html2 = "<a href=\"{{ url_for('tools.code')}}?url={{ url_for('flow.get_flow_file', flow_id=flow_id, filename='0000', _external=True) }}\" target=\"_blank\">编辑</a>"
      const html3 = "<a onclick=\"return confirm('确定删除文件？')\" href=\"{{ url_for('flow.delete_flow_file', flow_id=flow_id, filename='0000') }}\">删除</a>"
      td4.innerHTML = html1.replace('0000', row['name']) + " | " + html2.replace('0000', row['name']) + " | " + html3.replace('0000', row['name']);
      if ({{ config.HOST_PORT }} !== 0){
        td4.innerHTML = td4.innerHTML.replace('http://sunjingyu.com', 'https://sunjingyu.com:{{ config.HOST_PORT }}').replace('http://www.sunjingyu.com', 'https://www.sunjingyu.com:{{ config.HOST_PORT }}')
      }
      tr.appendChild(td4);

      tableBody.appendChild(tr);
    });
  }

  function updateTextSolverStatus(solverStatus) {
    const textSolverStatus = document.getElementById('text_solver_status');
    textSolverStatus.innerText = '前处理状态：' + solverStatus;
  }

  function updateLog(logs) {
    const textarea = document.getElementById('textarea_log');
    textarea.value = logs;
    textarea.scrollTop = textarea.scrollHeight; // 滚动到最底部
  }

  function updateRunLog(run_logs) {
    const textarea = document.getElementById('textarea_run_log');
    textarea.value = run_logs;
    textarea.scrollTop = textarea.scrollHeight; // 滚动到最底部
  }

  function updateButtons(solverStatus) {
    const calculateBtn = document.getElementById('calculateBtn');
    const calculateLink = document.getElementById('calculateLink');
    const resetBtn = document.getElementById('resetBtn');
    const resetLink = document.getElementById('resetLink');

    if (solverStatus === 'Submitting' || solverStatus === 'Running' || solverStatus === 'Pause' || solverStatus === 'Stopping') {
      calculateBtn.style.display = 'inline-block';
      calculateLink.style.display = 'none';
    } else {
      calculateBtn.style.display = 'none';
      calculateLink.style.display = 'inline-block';
    }

    if (solverStatus === 'Completed' || solverStatus === 'Stopped' || solverStatus === 'Setting') {
      resetBtn.style.display = 'none';
      resetLink.style.display = 'inline-block';
    } else {
      resetBtn.style.display = 'inline-block';
      resetLink.style.display = 'none';
    }
  }

  function updateStatus() {
    if (isUpdate === true) {
      fetch("{{ url_for('flow.flow_status', flow_id=flow_id) }}")
        .then(response => response.json())
        .then(data => {
          console.log(data)
          updateButtons(data["flow_status"])
          updateLog(data['logs'])
          updateRunLog(data['run_logs'])
          updateTextSolverStatus(data["flow_status"])
          updateFiles(data["files"])
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  }

  updateStatus()
  setInterval(updateStatus, 4000);

  function editMaterialPlane() {
    const material_plane_choices = "{{ form.material_plane.data }}"
    const material_id = material_plane_choices.split("_")[0]
    const url = "{{ url_for('material.view_material', material_id=0) }}"
    window.open(url.replace('0', material_id), "_blank")
  }
  function editMaterialTool() {
    const material_plane_choices = "{{ form.material_tool.data }}"
    const material_id = material_plane_choices.split("_")[0]
    const url = "{{ url_for('material.view_material', material_id=0) }}"
    window.open(url.replace('0', material_id), "_blank")
  }
    function editMaterialInteraction() {
    const material_plane_choices = "{{ form.material_interaction.data }}"
    const material_id = material_plane_choices.split("_")[0]
    const url = "{{ url_for('material.view_material', material_id=0) }}"
    window.open(url.replace('0', material_id), "_blank")
  }
  document.getElementById('editMaterialPlaneBtn').addEventListener('click', editMaterialPlane)
  document.getElementById('editMaterialToolBtn').addEventListener('click', editMaterialTool)
  document.getElementById('editMaterialInteractionBtn').addEventListener('click', editMaterialInteraction)

</script>
{% endblock script %}
