<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token" content="{{ csrf_token() }}">
<title>新建数据表格</title>
<link type="image-icon" href="{{ url_for('static', filename='imgs/faveicon.png') }}" rel="icon"/>

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='luckysheet/plugins/css/pluginsCss.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='luckysheet/plugins/plugins.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='luckysheet/css/luckysheet.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='luckysheet/assets/iconfont/iconfont.css') }}"/>
{% endblock css %}
</head>

<body>
{% block content %}
<div id="luckysheet" style="margin:0px;padding:0px;position:absolute;width:100%;height:100%;left:0px;top:0px;"></div>
{% endblock content %}

{% block script %}
<script src="{{ url_for('static', filename='luckysheet/plugins/js/plugin.js') }}"></script>
<script src="{{ url_for('static', filename='luckysheet/luckysheet.umd.js') }}"></script>

<script type="text/javascript">
  $(function () {
    var options = {
      container: "luckysheet",
      title: "标题",
      lang: "zh",
      myFolderUrl: "{{ url_for('sheet.manage_sheets') }}",
      functionButton: "<button class=\"btn btn-default\" onclick=\"uploadExcelData()\">保存</button> <a class=\"btn btn-default\" href=\"{{ url_for('.manage_sheets') }}\">返回</a>",
    }
    luckysheet.create(options)
  })

  function uploadExcelData() {
    $.post("{{ url_for('sheet.upload', sheet_id=sheet_id) }}", {
      exceldata: JSON.stringify(luckysheet.getAllSheets()),
      title: luckysheet.toJson().title
    }, function (data) {
      alert(data['message'])
      window.location.href="{{ url_for('sheet.edit_sheet', sheet_id=sheet_id) }}";
    });
  }

</script>
{% endblock script %}
</body>
</html>