{% extends 'layout.html' %}
{% from 'bootstrap4/form.html' import render_form, render_form_row, render_field %}

{% block title %}ABAQUS项目管理{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
{% endblock css %}

{% block pageheader %}ABAQUS项目管理{% endblock pageheader %}

{% block level %}
<li class="breadcrumb-item"><a href="/">主界面</a></li>
<li class="breadcrumb-item active">ABAQUS项目管理</li>
{% endblock level %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">ABAQUS项目列表</h3>
              </div>
              <div class="card-body">
                <table id="data" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th width=50px>项目ID</th>
                      <th>项目名称</th>
                      <th width=150px>创建时间</th>
                      <th width=150px>操作</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block script %}

<script src="{{ url_for('static', filename='AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>

<script type="text/javascript">

  $.fn.dataTable.defaults.oLanguage = {
    "sProcessing": "处理中...",
    "sLengthMenu": "显示 _MENU_ 项结果",
    "sZeroRecords": "没有匹配结果",
    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
    "sInfoPostFix": "",
    "sSearch": "搜索：",
    "sUrl": "",
    "sEmptyTable": "表中数据为空",
    "sLoadingRecords": "载入中...",
    "sInfoThousands": ",",
    "oPaginate": {
      "sFirst": "首页",
      "sPrevious": "上页",
      "sNext": "下页",
      "sLast": "末页"
    },
    "oAria": {
      "sSortAscending": ": 以升序排列此列",
      "sSortDescending": ": 以降序排列此列"
    }
  };

  $(function () {
    $('#data').DataTable({
      "paging": true,
      "pageLength": 50,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "ajax": "{{ url_for('abaqus.projects_status') }}",
      "columns": [
          { data: 'project_id' },
          { data: 'name' },
          { data: 'project_time' },
          { data: 'operation' },
      ],
    });
  });

  document.getElementById("abaqus").className = "nav-item menu-open"
  document.getElementById("manage_projects").className = "nav-link active"

</script>
{% endblock script %}

