{% extends 'layout.html' %}
{% from 'bootstrap4/form.html' import render_form, render_form_row, render_field %}

{% block title %}{{ project_id }}.{{ job_id }}号算例图片输出{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='zTree/css/zTreeStyle/zTreeStyle.css') }}">
{% endblock css %}

{% block pageheader %}图片输出{% endblock pageheader %}

{% block level %}
<li class="breadcrumb-item"><a href="/">主页</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('abaqus.manage_projects') }}">ABAQUS项目管理</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('abaqus.view_project', project_id=project_id) }}">{{ project_id }}号ABAQUS项目</a></li>
<li class="breadcrumb-item active"><a href="{{ url_for('abaqus.view_job', project_id=project_id, job_id=job_id) }}">{{ job_id }}号算例</a></li>
<li class="breadcrumb-item active">图片输出</li>
{% endblock level %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="column">
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">{{ project_id }}号ABAQUS项目：{{ job_id }}号算例</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <form action="" method="post" class="form" role="form">
                          {{ form.csrf_token() }}
                          {{ render_form_row([form.imageSize, form.legend]) }}
                          {{ render_form_row([form.plotState, form.uniformScaleFactor]) }}
                          {{ render_form_row([form.step, form.frame]) }}
                          {{ render_form_row([form.variableLabel, form.refinement]) }}
                          {{ render_form_row([form.outputPosition]) }}
                          {{ render_form_row([form.maxAutoCompute, form.maxValue]) }}
                          {{ render_form_row([form.minAutoCompute, form.minValue]) }}
                          {{ render_field(form.submit, button_style='btn btn-primary') }}
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="column">
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">图片列表</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <table class="table table-sm table-hover">
                          <thead>
                            <tr>
                              <th width=40%>图片名</th>
                              <th width=30%>修改日期</th>
                              <th width=10%>大小</th>
                              <th width=20%>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for file in files %}
                            <tr>
                              <td> {{ file['name'] }} </td>
                              <td> {{ file['time'] }} </td>
                              <td> {{ file['size'] }} </td>
                              <td> <a href="{{ url_for('abaqus.get_job_file', project_id=project_id, job_id=job_id, filename=file['name']) }}" target="_blank">查看</a> | <a onclick="return confirm('确定删除文件？')" href="{{ url_for('abaqus.delete_job_file', project_id=project_id, job_id=job_id, filename=file['name']) }}">删除</a> </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-body">
                    <h5 class="text-primary">日志文件 print_figure.log</h5>
                    <textarea id="textarea_log" class="form-control" style="height: 345px;">{{ logs }}</textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block script %}
{% if env['service'] == 'server' %}
<script src="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.42/js/jquery.ztree.core.min.js"></script>
{% else %}
<script src="{{ url_for('static', filename='zTree/js/jquery.ztree.core.min.js') }}"></script>
{% endif %}
<script type="text/javascript">

  var textarea_log = document.getElementById('textarea_log');
  textarea_log.scrollTop = textarea_log.scrollHeight;

  var setting_odb = {
    data: {
      simpleData: {
        enable: true
      }
    },
    async: {
      enable: true,
      url:"{{ url_for('abaqus.prescan_odb_data', project_id=project_id, job_id=job_id) }}",
      type: "get",
    }
  };

  document.getElementById('abaqus').className = 'nav-item menu-open'
  
</script>
{% endblock script %}