{% extends 'layout.html' %}
{% from 'bootstrap4/form.html' import render_form, render_form_row, render_field %}

{% block title %}{{ project_id }}.{{ job_id }}号算例图片输出{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='zTree/css/zTreeStyle/zTreeStyle.css') }}">
{% endblock css %}

{% block pageheader %}图片输出{% endblock pageheader %}

{% block level %}
<li class="breadcrumb-item"><a href="/">主界面</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('abaqus.manage_projects') }}">ABAQUS项目管理</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('abaqus.view_project', project_id=project_id) }}">{{ project_id }}号ABAQUS项目</a></li>
<li class="breadcrumb-item active"><a href="{{ url_for('abaqus.view_job', project_id=project_id, job_id=job_id) }}">{{ job_id }}号算例</a></li>
<li class="breadcrumb-item active">图片输出</li>
{% endblock level %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="column">
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">{{ project_id }}号ABAQUS项目：{{ job_id }}号算例</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <form action="" method="post" class="form" role="form">
                          {{ form.csrf_token() }}
                          <h5 class="text-primary">基本设置</h5><hr/>
                          {{ render_form_row([form.width, form.height]) }}
                          {{ render_form_row([form.imageSize, form.legend]) }}
                          {{ render_form_row([form.legendPosition, form.triad]) }}
                          {{ render_form_row([form.projection, form.views]) }}
                          {{ render_form_row([form.plotState, form.uniformScaleFactor]) }}
                          {{ render_form_row([form.step, form.frame]) }}
                          {{ render_form_row([form.variableLabel, form.refinement]) }}
                          {{ render_form_row([form.outputPosition, form.visibleEdges]) }}
                          {{ render_form_row([form.maxAutoCompute, form.maxValue]) }}
                          {{ render_form_row([form.minAutoCompute, form.minValue]) }}
                          {{ render_form_row([form.colorMappings, form.mirrorAboutXyPlane]) }}
                          {{ render_form_row([form.mirrorAboutXzPlane, form.mirrorAboutYzPlane]) }}
                          <h5 class="text-primary">单元集合</h5><hr/>
                          {{ render_form_row([form.removeElementSet, form.replaceElementSet]) }}
                          <h5 class="text-primary">状态变量</h5><hr/>
                          {{ render_form_row([form.useStatus, form.statusLabel]) }}
                          {{ render_form_row([form.statusPosition, form.statusRefinement]) }}
                          {{ render_form_row([form.statusMinimum, form.statusMaximum]) }}
                          <h5 class="text-primary">批量输出</h5><hr/>
                          {{ render_form_row([form.animate, form.frameInterval]) }}
                          {{ render_form_row([form.startFrame, form.endFrame]) }}
                          <h5 class="text-primary">动图帧率</h5><hr/>
                          {{ render_form_row([form.fps]) }}
                          {{ render_field(form.submit, button_style='btn btn-primary') }}
                          <a href="{{ url_for('abaqus.delete_job_file', project_id=project_id, job_id=job_id, filename='print_figure.json') }}" class="btn btn-info">默认设置</a>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="column">
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">图片列表</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <table class="table table-sm table-hover">
                          <thead>
                            <tr>
                              <th width=40%>图片名</th>
                              <th width=30%>修改日期</th>
                              <th width=10%>大小</th>
                              <th width=20%>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for file in files %}
                            <tr>
                              <td> {{ file['name'] }} </td>
                              <td> {{ file['time'] }} </td>
                              <td> {{ file['size'] }} </td>
                              <td> <a href="{{ url_for('abaqus.get_job_file', project_id=project_id, job_id=job_id, filename=file['name']) }}" target="_blank">查看</a> | <a onclick="return confirm('确定删除文件？')" href="{{ url_for('abaqus.delete_job_file', project_id=project_id, job_id=job_id, filename=file['name']) }}">删除</a> </td>
                            </tr>
                            {% endfor %}
                            {% for subpath in subpaths %}
                            <tr>
                              <td> {{ subpath['name'] }} </td>
                              <td> {{ subpath['time'] }} </td>
                              <td> 文件夹</td>
                              <td> <a href="{{ url_for('abaqus.print_figure_gif', project_id=project_id, job_id=job_id, pathname=subpath['name']) }}">生成动图</a> | <a onclick="return confirm('确定删除文件夹？')" href="{{ url_for('abaqus.delete_job_subpath', project_id=project_id, job_id=job_id, pathname=subpath['name']) }}">删除</a> </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-body">
                    <h5 class="text-primary">日志文件 print_figure.log</h5>
                    <textarea id="textarea_log" class="form-control" style="height: 150px;">{{ logs }}</textarea>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">odb结构</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <p class="mb-1">您可以通过点击下面的按钮进行ABAQUS计算结果的预扫描，并通过<a href="javascript:location.reload();">刷新</a>页面更新状态。</p>
                        {% if status['prescan_status']!='Scanning' and status['prescan_status']!='Submitting' %}
                        <a href="{{ url_for('abaqus.prescan_odb', project_id=project_id, job_id=job_id) }}" class="btn btn-success"><strong>odb 预扫描</strong></a>
                        {% else %}
                        <button class="btn btn-secondary" disabled="disabled"><strong>odb 预扫描</strong></button>
                        {% endif %}
                        <p></p>
                        <p class="mb-1">预扫描树状图（{{ status['prescan_status'] }}）：</p>
                        <ul id="ztree-odb" class="ztree"></ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block script %}
{% if env['cdn'] == 'cdn' %}
<script src="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.42/js/jquery.ztree.core.min.js"></script>
{% else %}
<script src="{{ url_for('static', filename='zTree/js/jquery.ztree.core.min.js') }}"></script>
{% endif %}
<script type="text/javascript">

  var textarea_log = document.getElementById('textarea_log');
  textarea_log.scrollTop = textarea_log.scrollHeight;

  var setting_odb = {
    data: {
      simpleData: {
        enable: true
      }
    },
    async: {
      enable: true,
      url: "{{ url_for('abaqus.prescan_odb_data', project_id=project_id, job_id=job_id) }}",
      type: "get",
    }
  };

  $(document).ready(function(){
    $.fn.zTree.init($("#ztree-odb"), setting_odb);
  });

  $.ajax({
    type: "get",
    url: "{{ url_for('abaqus.print_figure_dict', project_id=project_id, job_id=job_id) }}",
    dataType: "json",
    success: function (data) {
      // console.log(data);
      window.print_figure_dict = data
      sel_step = document.getElementById("step")
      step = sel_step.value;

      sel_variableLabel = document.getElementById("variableLabel")
      var variableLabel = sel_variableLabel.value;
      var refinements = window.print_figure_dict[step]["refinement"][variableLabel];
      var sel_refinement = document.getElementById("refinement");
      sel_refinement.options.length = 0;
      for (var i=0; i < refinements.length; i++) {
        var refinement = refinements[i]; 
        var option_refinement = document.createElement("option");
        var textNode = document.createTextNode(refinement);
        option_refinement.appendChild(textNode);
        sel_refinement.appendChild(option_refinement);
      }

      var outputPosition = window.print_figure_dict[step]["outputPosition"][variableLabel];
      var sel_outputPosition = document.getElementById("outputPosition");
      sel_outputPosition.options.length = 0;
      var option_outputPosition = document.createElement("option");
      var textNode = document.createTextNode(outputPosition);
      option_outputPosition.appendChild(textNode);
      sel_outputPosition.appendChild(option_outputPosition);
    }
  });

  sel_step = document.getElementById("step")
  sel_step.addEventListener("change", function (){
    step = sel_step.value;
  })

  sel_variableLabel = document.getElementById("variableLabel")
  sel_variableLabel.addEventListener("change", function (){
    var variableLabel = sel_variableLabel.value;
    var refinements = window.print_figure_dict[step]["refinement"][variableLabel];
    var sel_refinement = document.getElementById("refinement");
    sel_refinement.options.length = 0;
    for (var i=0; i < refinements.length; i++) {
      var refinement = refinements[i]; 
      var option_refinement = document.createElement("option");
      var textNode = document.createTextNode(refinement);
      option_refinement.appendChild(textNode);
      sel_refinement.appendChild(option_refinement);
    }

    var outputPosition = window.print_figure_dict[step]["outputPosition"][variableLabel];
    var sel_outputPosition = document.getElementById("outputPosition");
    sel_outputPosition.options.length = 0;
    var option_outputPosition = document.createElement("option");
    var textNode = document.createTextNode(outputPosition);
    option_outputPosition.appendChild(textNode);
    sel_outputPosition.appendChild(option_outputPosition);
  })

  document.getElementById('abaqus').className = 'nav-item menu-open'
  
</script>
{% endblock script %}