{% extends 'layout.html' %}
{% from 'bootstrap4/form.html' import render_form, render_field %}

{% block title %}{{ project_id }}.{{ job_id }}号算例{% endblock title %}

{% block css %}
{% if env['service'] == 'server' %}
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.42/css/zTreeStyle/zTreeStyle.min.css">
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='zTree/css/zTreeStyle/zTreeStyle.css') }}">
{% endif %}
{% endblock css %}

{% block pageheader %}算例信息{% endblock pageheader %}

{% block level %}
<li class="breadcrumb-item"><a href="/">主页</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('abaqus.manage_projects') }}">ABAQUS项目管理</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('abaqus.view_project', project_id=project_id) }}">{{ project_id }}号ABAQUS项目</a></li>
<li class="breadcrumb-item active">算例信息</li>
{% endblock level %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="column">
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">{{ project_id }}号ABAQUS项目：{{ job_id }}号算例</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <h5 class="text-primary">算例信息</h5>
                        <ul class="list-unstyled">
                          <li> 算例编号：{{ job_id }} </li>
                          <li> 创建时间：{{ status['inp_time'] }}</li>
                          <li> 算例inp文件：{{ status['job'] }}.inp</li>
                          <li> 算例user文件：{{ status['user'] }}</li>
                          <li> 算例使用CPU核心数量：{{ status['cpus'] }}</li>
                          <a class='btn btn-primary' href="{{ url_for('abaqus.edit_job', project_id=project_id, job_id=job_id) }}">编辑信息</a>
                          {% if env['service'] == 'client' %}
                          <a href="{{ url_for('abaqus.open_job', project_id=project_id, job_id=job_id) }}" class="btn btn-primary">在资源管理器中打开</a>
                          {% endif %}
                        </ul>
                        <h5 class="text-primary">求解控制</h5>
                        当前状态：{{ solver_status }}
                        <p class="mb-1">您可以通过点击下面的按钮开始、暂停或终止ABAQUS的计算，并通过<a href="javascript:location.reload();">刷新</a>页面获取算例状态。</p>

                        {% if solver_status=='Submitting' or solver_status=='Running' or solver_status=='Pause' or solver_status=='Stopping'%}
                        <button class="btn btn-secondary" disabled="disabled">计 算</button>
                        {% else %}
                        <a href="{{ url_for('abaqus.run_job', project_id=project_id, job_id=job_id) }}" class="btn btn-success">计 算</a>
                        {% endif %}

                        {% if solver_status=='Running' %}
                        <a href="#" class="btn btn-warning">暂 停</a>
                        {% else %}
                        <button class="btn btn-secondary" disabled="disabled">暂 停</button>
                        {% endif %}

                        {% if solver_status=='Pause' %}
                        <a href="#" class="btn btn-info">继 续</a>
                        {% else %}
                        <button class="btn btn-secondary" disabled="disabled">继 续</button>
                        {% endif %}

                        {% if solver_status=='Running' %}
                        <a href="{{ url_for('abaqus.terminate_job', project_id=project_id, job_id=job_id) }}" class="btn btn-danger">终 止</a>
                        {% else %}
                        <button class="btn btn-secondary" disabled="disabled">终 止</button>
                        {% endif %}
                        {{ button }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">参数文件</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <form action="" method="post" class="form" role="form">
                          {{ form.csrf_token() }}
                          {{ render_field(form.para, style="height: 266px;") }}
                          {{ render_field(form.submit, button_style='btn btn-primary') }}
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">文件列表</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <table class="table table-sm table-hover">
                          <thead>
                            <tr>
                              <th width=40%>文件名</th>
                              <th width=30%>修改日期</th>
                              <th width=10%>大小</th>
                              <th width=20%>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for file in files %}
                            <tr>
                              <td> {{ file['name'] }} </td>
                              <td> {{ file['time'] }} </td>
                              <td> {{ file['size'] }} </td>
                              <td> <a href="{{ url_for('abaqus.get_job_file', project_id=project_id, job_id=job_id, filename=file['name']) }}">下载</a> | <a onclick="return confirm('确定删除文件？')" href="{{ url_for('abaqus.delete_job_file', project_id=project_id, job_id=job_id, filename=file['name']) }}">删除</a> </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="column">
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-body">
                    <h5 class="text-primary">日志文件.log</h5>
                    <textarea id="textarea_log" class="form-control" style="height: 345px;">{{ logs }}</textarea>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-body">
                    <h5 class="text-primary">状态文件.sta</h5>
                    <div class="card-body table-responsive p-0" style="height: 369px;">
                      <table class="table table-sm table-hover table-head-fixed text-nowrap">
                        <thead>
                          <tr>
                            <th width=10% style="vertical-align: middle;text-align: center;">Step</th>
                            <th width=10% style="vertical-align: middle;text-align: center;">Increment</th>
                            <th width=10% style="vertical-align: middle;text-align: center;">Att</th>
                            <th width=10% style="vertical-align: middle;text-align: center;">Severe<br>Discon<br>Iter</th>
                            <th width=10% style="vertical-align: middle;text-align: center;">Equil<br>Iter</th>
                            <th width=10% style="vertical-align: middle;text-align: center;">Total<br>Iter</th>
                            <th width=10% style="vertical-align: middle;text-align: center;">Total<br>Time/Freq</th>
                            <th width=10% style="vertical-align: middle;text-align: center;">Step<br>Time/LPF</th>
                            <th width=10% style="vertical-align: middle;text-align: center;">Time/LPF<br>Inc</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for row in sta %}
                          <tr style="vertical-align: middle;text-align: center;">
                            {% for item in row %}
                              <td> {{ item }} </td>
                            {% endfor %}
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">后处理</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <p class="mb-1">您可以通过点击下面的按钮进行ABAQUS计算结果的后处理，并通过<a href="javascript:location.reload();">刷新</a>页面更新結果。</p>
                        <a href="{{ url_for('abaqus.prescan_odb', project_id=project_id, job_id=job_id) }}" class="btn btn-success">odb 预扫描</a>
                        <a href="{{ url_for('abaqus.odb_to_npz', project_id=project_id, job_id=job_id) }}" class="btn btn-success">odb_to_npz</a>
                        <p></p>
                        <p class="mb-1">预扫描树状图：</p>
                        <ul id="ztree-odb" class="ztree"></ul>
                        <p></p>
                        <p class="mb-1">npz文件结构：</p>
                        <ul id="ztree-npz" class="ztree"></ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block script %}
{% if env['service'] == 'server' %}
<script src="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.42/js/jquery.ztree.core.min.js"></script>
{% else %}
<script src="{{ url_for('static', filename='zTree/js/jquery.ztree.core.min.js') }}"></script>
{% endif %}
<script type="text/javascript">

  var textarea_log = document.getElementById('textarea_log');
  textarea_log.scrollTop = textarea_log.scrollHeight;

  var setting_odb = {
    data: {
      simpleData: {
        enable: true
      }
    },
    async: {
      enable: true,
      url:"{{ url_for('abaqus.prescan_odb_data', project_id=project_id, job_id=job_id) }}",
      type: "get",
    }
  };

  $(document).ready(function(){
    $.fn.zTree.init($("#ztree-odb"), setting_odb);
  });

  var setting_npz = {
    data: {
      simpleData: {
        enable: true
      }
    },
    async: {
      enable: true,
      url:"{{ url_for('abaqus.odb_to_npz_data', project_id=project_id, job_id=job_id) }}",
      type: "get",
    }
  };

  $(document).ready(function(){
    $.fn.zTree.init($("#ztree-npz"), setting_npz);
  });

</script>
{% endblock script %}