{% extends 'layout.html' %}
{% from 'bootstrap4/form.html' import render_form, render_form_row, render_field %}

{% block title %}{{ model_id }}号球体填充主模型的子模型{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
{% endblock css %}

{% block pageheader %}子模型管理{% endblock pageheader %}

{% block level %}
<li class="breadcrumb-item"><a href="/">主界面</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('packing.manage_models') }}">球体填充模型管理</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('packing.view_model', model_id=model_id) }}">{{ model_id }}号主模型</a>
<li class="breadcrumb-item active">子模型管理</li>
{% endblock level %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{ model_id }}号球体填充主模型的子模型列表</h3>
              </div>
              <div class="card-body">
                <table id="data" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th width="8%">子模型ID</th>
                      <th width="8%">主模型ID</th>
                      <th width="15%">创建时间</th>
                      <th width="8%">模型大小</th>
                      <th width="8%">各向等分</th>
                      <th width="15%">区域大小</th>
                      <th width="8%">球间距</th>
                      <th width="8%">球体数量</th>
                      <th width="8%">体积分数</th>
                      <th width="14%">操作</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block script %}

<script src="{{ url_for('static', filename='AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>

<script type="text/javascript">

  $.fn.dataTable.defaults.oLanguage = {
    "sProcessing": "处理中...",
    "sLengthMenu": "显示 _MENU_ 项结果",
    "sZeroRecords": "没有匹配结果",
    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
    "sInfoPostFix": "",
    "sSearch": "搜索：",
    "sUrl": "",
    "sEmptyTable": "表中数据为空",
    "sLoadingRecords": "载入中...",
    "sInfoThousands": ",",
    "oPaginate": {
      "sFirst": "首页",
      "sPrevious": "上页",
      "sNext": "下页",
      "sLast": "末页"
    },
    "oAria": {
      "sSortAscending": ": 以升序排列此列",
      "sSortDescending": ": 以降序排列此列"
    }
  };

  $(function () {
    $('#data').DataTable({
      "paging": true,
      "pageLength": 10,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "ajax": "{{ url_for('packing.submodels_status', model_id=model_id) }}",
      "columns": [
        { data: 'submodel_id' },
        { data: 'model_id' },
        { data: 'npy_time' },
        { data: 'npy_size' },
        { data: 'ndiv' },
        { data: 'location' },
        { data: 'gap' },
        { data: 'num_ball' },
        { data: 'fraction' },
        { data: 'operation' },
      ],
    });
  });

  document.getElementById("packing").className = "nav-item menu-open"
  document.getElementById("manage_models").className = "nav-link active"

</script>
{% endblock script %}
