{% extends 'layout.html' %}
{% from 'bootstrap4/form.html' import render_form, render_form_row, render_field %}

{% block title %}{{ model_id }}号球体填充主模型{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
{% endblock css %}

{% block pageheader %}主模型信息{% endblock pageheader %}

{% block level %}
<li class="breadcrumb-item"><a href="/">主界面</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('packing.manage_models') }}">球体填充模型管理</a></li>
<li class="breadcrumb-item active">{{ model_id }}号主模型</li>
{% endblock level %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{ model_id }}号球体填充主模型</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h5 class="text-primary">模型信息</h5>
                    <ul class="list-unstyled">
                      <li> 日期时间：{{status['npy_time']}} </li>
                      <li> 球体数量：{{status['num_ball']}} </li>
                      <li> 体积分数：{{status['fraction']}} </li>
                      <li> 区域大小：{{status['size']}} </li>
                      <li> 球体间距：{{status['gap']}} </li>
                      <li> 模型文件大小：{{status['npy_size']}} </li>
                      <li> 参数列表：{{status['args']}} </li>
                      {% if status['project_id']=='None' %}
                      <li> ABAQUS关联项目：无 </li>
                      {% else %}
                      <li> ABAQUS关联项目：<a href="{{ url_for('abaqus.view_project', project_id=status['project_id']) }}">{{ status['project_id'] }}号ABAQUS项目</a> </li>
                      {% endif %}
                    </ul>

                    <a href="{{ url_for('packing.create_submodel', model_id=model_id) }}" class="btn btn-primary"><strong>生成子模型</strong></a>
                    <a href="{{ url_for('packing.create_mesh', model_id=model_id) }}" class="btn btn-success"><strong>生成子模型有限元网格</strong></a>
                    <a href="{{ url_for('packing.create_abaqus', model_id=model_id) }}" class="btn btn-warning"><strong>生成ABAQUS关联项目</strong></a>
                    <br>

                    <a href="{{ url_for('packing.get_model', model_id=model_id, filename='model.png') }}" target="_blank"><img height="350" src="{{ url_for('packing.get_model', model_id=model_id, filename='model.png') }}"></a>
                    <a href="{{ url_for('packing.get_model', model_id=model_id, filename='density.png') }}" target="_blank"><img height="350" src="{{ url_for('packing.get_model', model_id=model_id, filename='density.png') }}"></a>

                  </div>
                  <div class="col-6">
                    <h5 class="text-primary">文件</h5>
                    <a href="{{ url_for('packing.get_model', model_id=model_id, filename='model.npy') }}" class="btn-link text-secondary"><i class="far fa-fw fa-file"></i> model.npy</a>
                    <a href="{{ url_for('packing.get_model', model_id=model_id, filename='model.log') }}" class="btn-link text-secondary"><i class="far fa-fw fa-file"></i> model.log</a>
                    <a href="{{ url_for('packing.get_model', model_id=model_id, filename='args.json') }}" class="btn-link text-secondary"><i class="far fa-fw fa-file"></i> args.json</a>
                    <a href="{{ url_for('packing.get_model', model_id=model_id, filename='model.msg') }}" class="btn-link text-secondary"><i class="far fa-fw fa-file"></i> model.msg</a>
                    <a href="{{ url_for('packing.get_model', model_id=model_id, filename='model.png') }}" class="btn-link text-secondary"><i class="far fa-fw fa-image"></i> model.png</a>
                    <a href="{{ url_for('packing.get_model', model_id=model_id, filename='density.png') }}" class="btn-link text-secondary"><i class="far fa-fw fa-image"></i> density.png</a>
                    <p></p>
                    <h5 class="text-primary">日志</h5>
                    <textarea class="form-control" rows="21">{{status['log']}}</textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{ model_id }}号球体填充主模型的子模型列表</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <table id="data" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th width=80px>子模型ID</th>
                      <th width=80px>主模型ID</th>
                      <th width=150px>创建时间</th>
                      <th>模型大小</th>
                      <th>各向等分</th>
                      <th>区域大小</th>
                      <th>球间距</th>
                      <th>球体数量</th>
                      <th>体积分数</th>
                      <th width=100px>操作</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}

{% block script %}

<script src="{{ url_for('static', filename='AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>

<script type="text/javascript">

  $.fn.dataTable.defaults.oLanguage = {
    "sProcessing": "处理中...",
    "sLengthMenu": "显示 _MENU_ 项结果",
    "sZeroRecords": "没有匹配结果",
    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
    "sInfoPostFix": "",
    "sSearch": "搜索：",
    "sUrl": "",
    "sEmptyTable": "表中数据为空",
    "sLoadingRecords": "载入中...",
    "sInfoThousands": ",",
    "oPaginate": {
      "sFirst": "首页",
      "sPrevious": "上页",
      "sNext": "下页",
      "sLast": "末页"
    },
    "oAria": {
      "sSortAscending": ": 以升序排列此列",
      "sSortDescending": ": 以降序排列此列"
    }
  };

  $(function () {
    $('#data').DataTable({
      "paging": true,
      "pageLength": 50,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "ajax": "{{ url_for('packing.submodels_status', model_id=model_id) }}",
      "columns": [
        { data: 'submodel_id' },
        { data: 'model_id' },
        { data: 'npy_time' },
        { data: 'npy_size' },
        { data: 'ndiv' },
        { data: 'location' },
        { data: 'gap' },
        { data: 'num_ball' },
        { data: 'fraction' },
        { data: 'operation' },
      ],
    });
  });

  document.getElementById("packing").className = "nav-item menu-open"

</script>
{% endblock script %}
