{% extends 'layout.html' %}

{% block title %}文本编辑器{% endblock title %}

{% block pageheader %}文本编辑器{% endblock pageheader %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='codemirror-5.65.16/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror-5.65.16/theme/monokai.css') }}">

<style>
  .CodeMirror {
    height: 100%;
  }
</style>

{% endblock css %}

{% block level %}
<li class="breadcrumb-item"><a href="/">主界面</a></li>
<li class="breadcrumb-item">文本编辑器</li>
{% endblock level %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-body">

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="urlParam"></span>
                  </div>
                  <select id="language-select" class="form-control">
                    <option value="python">Python</option>
                    <option value="htmlmixed">XML/HTML</option>
                    <option value="javascript">JavaScript</option>
                    <option value="fortran">Fortran</option>
                    <option value="toml">Toml</option>
                    <option value="application/json">JSON</option>
                  </select>
                  <div class="input-group-append">
                    <button id="saveBtn" class="btn btn-success"><strong>保存</strong></button>
                  </div>
                </div>

                <textarea id="code"></textarea>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block script %}

<script src="{{ url_for('static', filename='codemirror-5.65.16/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror-5.65.16/mode/python/python.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror-5.65.16/mode/fortran/fortran.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror-5.65.16/mode/toml/toml.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror-5.65.16/mode/javascript/javascript.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror-5.65.16/mode/xml/xml.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror-5.65.16/mode/htmlmixed/htmlmixed.js') }}"></script>

<script type="text/javascript">
  // document.getElementById("others").className = "nav-item menu-open"
  // document.getElementById("links").className = "nav-link active"

  const languageSelect = document.getElementById("language-select");

  languageSelect.addEventListener("change", function () {
    const mode = languageSelect.value;
    editor.setOption("mode", mode);
  });

  let queryString = window.location.search;
  let url = '#'
  if (queryString !== "") {
    queryString = queryString.split("?")[1];
    let parameters = new URLSearchParams(queryString);
    url = parameters.get("url");
    document.getElementById('urlParam').innerText = url;
  }

  // 初始化 CodeMirror
  const editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    lineNumbers: true, // 显示行号
    mode: null, // 设置代码高亮模式
    theme: "monokai",
  });

  setModeFromPath(url)

  // 使用 fetch 获取代码内容
  fetch(url)
    .then(response => {
      if (!response.ok) {
        alert('文件不存在，url错误: ' + response.status);
        throw new Error('文件不存在，url错误: ' + response.status);
      }
      return response.text();
    })
    .then(data => {
      // 设置代码内容
      editor.setValue(data);
    })
    .catch(error => {
      console.error('文件加载错误:', error);
    });

  // 注释/取消注释整行函数
  function toggleLineComment() {
    const cursor = editor.getCursor();
    const line = editor.getLine(cursor.line);
    const mode = editor.getOption("mode");
    let commentSymbol;

    if (mode === "fortran") {
      commentSymbol = "!";
    } else if (mode === "text/x-python") {
      commentSymbol = "#";
    } else if (mode === "text/x-toml") {
      commentSymbol = "#";
    } else {
      commentSymbol = "//"; // 默认使用双斜杠作为注释符号
    }

    editor.operation(function () {
      if (line.trim().startsWith(commentSymbol)) {
        editor.replaceRange('', {line: cursor.line, ch: 0}, {line: cursor.line, ch: commentSymbol.length});
      } else {
        editor.replaceRange(commentSymbol, {line: cursor.line, ch: 0});
      }
    });
  }

  // 绑定快捷键 Ctrl+/ 到注释/取消注释整行函数
  let commentState = false;
  editor.setOption("extraKeys", {
    "Ctrl-/": function (cm) {
      if (commentState) {
        toggleLineComment();
      } else {
        commentState = true;
      }
    }
  });

  const saveBtn = document.getElementById('saveBtn');

  saveBtn.addEventListener('click', function () {
    // 获取编辑器中的内容
    const content = editor.getValue();

    // saveUrl 是保存文件的服务器端 URL
    const tempUrl = "{{ url_for('tools.code_save', url='0000') }}";
    const saveUrl = tempUrl.replace('0000', url)

    // 发起 HTTP POST 请求将内容发送到服务器
    fetch(saveUrl, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({content: content}),
    }).then(response => {
      if (response.ok) {
        alert('保存成功！');
      } else {
        alert('保存失败！');
        console.error('保存失败！');
      }
    }).catch(error => {
      alert('保存失败：' + error);
      console.error('保存失败:', error);
    });
  });

  function setModeFromPath(url) {
    let mode;
    if (url.endsWith(".js")) {
      mode = "javascript";
      languageSelect.value = "javascript";
    } else if (url.endsWith(".py")) {
      mode = "python";
      languageSelect.value = "python";
    } else if (url.endsWith(".xml")) {
      mode = "htmlmixed";
      languageSelect.value = "htmlmixed";
    } else if (url.endsWith(".for")) {
      mode = "fortran";
      languageSelect.value = "fortran";
    } else if (url.endsWith(".toml")) {
      mode = "toml";
      languageSelect.value = "toml";
    } else if (url.endsWith(".json")) {
      mode = "application/json";
      languageSelect.value = "application/json";
    } else if (url.endsWith(".vtu")) {
      mode = "htmlmixed";
      languageSelect.value = "htmlmixed";
    } else {
      mode = null;
      languageSelect.value = "null";
    }

    if (mode) {
      editor.setOption("mode", mode);
    }
  }

</script>
{% endblock script %}