{% from 'bootstrap4/form.html' import render_form, render_form_row, render_field %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>登录</title>
<link type="image-icon" href="{{ url_for('static', filename='imgs/logo.svg') }}" rel="icon"/>
{% if env['service'] == 'server' %}
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/admin-lte/3.2.0/css/adminlte.min.css">
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE/dist/css/adminlte.min.css') }}">
{% endif %}
</head>
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <b>固体力学与数值模拟</b>
    </div>

    <div class="card">
      <div class="card-body login-card-body">
        <form action="" method="post" class="form" role="form" onsubmit="return sumbit_sure()">
          {{ form.csrf_token() }}
          {{ render_field(form.email) }}
          {{ render_field(form.password) }}
          {% if env['service'] == 'server' %}{{ render_field(form.remember_me) }}{% endif %}
          <div class="col-12" align="center">
          {{ render_field(form.submit, button_style='btn btn-primary') }}
          </div>
        </form>
        {% if env['service'] == 'server' %}
        <p class="mb-1" align="center">
          <small><a href="{{ url_for('auth.forget_password') }}">忘记密码</a> | <a href="#">注册新用户</a></small>
        </p>
        {% endif %}
      </div>
    </div>

    {% for message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ message[0] }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message[1] }}
      </div>
    {% endfor %}
  </div>
  <p></p>
  <p class="mb-0"> Jingyu Sun &copy; 2020-2024</p>

{% if env['service'] == 'server' %}
<!-- jQuery -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
{% else %}
<!-- jQuery -->
<script src="{{ url_for('static', filename='AdminLTE/plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ url_for('static', filename='AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endif %}

</body>
</html>
