{% extends 'layout.html' %}

{% block title %}400 Error{% endblock %}

{% block content %}
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-warning"> 400</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> {{ description|default('Bad Request') }}</h3>

          <p>
          </p>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
{% endblock %}